header{
    background-color: white;
    position:fixed;
    top:0;
    width:100%;
}
.logo{
    width: 40px;
}
#content{
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
}
nav {
    background-color: white;
    line-height: 3em;
    text-align: center;
    font-size: 100%;
    font-weight: bold;
    width: 100%;
    list-style-type: none;
    display: flex;
  }
.tag{
    padding:1em;
    min-width: 10%;
    text-decoration: none;
    padding: 10px;
    width: 100%;
}
#adam-and-eve-tag{
    padding:1em;
    min-width: 10%;
    text-decoration: none;
    padding: 10px;
    width: 100%;
}
nav a:link, nav a:visited{
    color: black;
}
nav a:hover{
    color: white;
    background-color: #598987;
}
#hero-box{
    text-align: center;
}
#hero-img{
    width: 100%;
    padding-top: 70px;
}
.home-title{
    color: black;
    padding-top: 40px;
    font-size: 30px;
}

h4{
    color: black;
    margin: auto;
    width: 40%;
    padding-top: 30px;
    line-height: 2;
    font-size: 18px
}
#hero-msg h1{
    text-align: center;
}
#hero-msg h4{
    text-align: center;
}
.h2{
    padding-top: 40px;
    padding-bottom: 30px;
    font-size: 25px
}
#creation-img{
    width: 40%;
}
#fall-img{
    width: 40%;
}
#natural-man-img{
    width: 75%;
}
.button-box{
    text-align: center;
}
main section{
    text-align: center;
}
body{
    background-color: white; 
}
footer{
    color: #598987;
    background-color: white;
    margin: 0 auto;
    text-align: center;
}
footer p{
    font-size: 1.2em;
}
.icon{
    width: 5%;
}