@import url('https://fonts.googleapis.com/css2?family=Lemon&family=Roboto&family=Ubuntu:wght@500&display=swap');

html {
    scroll-behavior: smooth;
}

header{
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #d8f2da;
    opacity: .8
}
.logo{
    width: 80px;
}
#logo_link{
    justify-self: center;
    align-self: center;
    padding-top: 5px;
}
#content{
    max-width: 1600px;
    margin: 0 auto;
}
nav{
    display: flex;
    justify-content: space-around;
}
nav a{
    text-align: center;
    color: #598987;
    text-decoration: none;
    padding: 35px;
}
nav a:hover{
    background-color: #598987;
    color: white;
}
#hero{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-box{
    text-align: center;
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg{
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
#hero-msg h1{
    text-align: center;
    color: white;
}
#hero-msg h4{
    text-align: center;
    color: white;
    font-family: Lemon, Helvetica, sans-serif;
}
#hero-img{
    width: 1600px;
}
.home-title{
    color: #598987;
    font-family: Lemon, Helvetica, sans-serif;
    font-size: 2em;
    margin-top: 60px;
}
h4{
    color: #598987;
}
.book{
    background-color: cadetblue;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover{
    background-color: #598987;
    color: white
}
.button-box{
    text-align: center;
}
.top-main{
    display: grid;
    grid-template-columns: 100px 50px 1fr 40px 1fr 100px;
    grid-template-rows: 50px 1fr 1fr 1fr 1fr;
}
.mid-main{
    display: grid;
    grid-template-columns: 100px 50px 1fr 40px 1fr 100px;
    grid-template-rows: 50px 1fr 1fr 1fr 1fr;
}
.bottom-main{
    display: grid;
    grid-template-columns: 100px 50px 1fr 40px 1fr 100px;
    grid-template-rows: 50px 1fr 1fr 1fr 1fr;
}
.nav-icon{
    width: 40px;
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: center;
}
.subtitle{
    grid-column: 3/4;
    grid-row: 1/2;
    text-align: left;
    align-self: center;
}
.paragraph1{
    grid-column: 2/4;
    grid-row: 2/3;
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 18px;
    text-align: left;
    align-self: center;
}
.paragraph2{
    grid-column: 2/4;
    grid-row: 3/4;
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 18px;
    text-align: left;
    align-self: center;
}
.paragraph3{
    grid-column: 2/4;
    grid-row: 4/5;
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 18px;
    text-align: left;
    align-self: center;
}
.location{
    width: 600px;
    grid-column: 5/6;
    grid-row: 2/5;
    align-self: center;
}
.map{
    margin: auto;
    text-align: center;
}
h2{
    text-align: center;
    font-family: Ubuntu, Helvetica, sans-serif;
}
main section{
    text-align: center;
}
main section img {
    box-sizing: border-box;
}
main h3{
    font-family: Ubuntu, Helvetica, sans-serif;
}
main p{
    font-family: Ubuntu, Helvetica, sans-serif;
}
body{
    background-color: #fcfbfb; 
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;

}
h3{
    margin: 0;
}
footer{
    color: #598987;
    background-color: #d8f2da;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer p{
    font-size: 1.2em;
}
footer a{
    color: #598987;
    text-decoration: none;
}
footer a:hover{
    color: rgb(1, 58, 58);
    text-decoration: none;
}
footer .social img{
padding-top: 15px;
}
.icon{
    width: 80px;
    padding-top: 10px;
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    #hero-msg h1 {
        color: #6f7364;
    }
    .home-title {
        font-size: 25px;
    }
    footer {
        margin-top: 25px;
    }
}