
header{
    width: 100%;
    background-color: #292929;
}
nav{
    width: 100%;
    list-style-type: none;
    display: grid;
    color: #e4e2dd;
    grid-template-columns: 1fr 1fr 1fr 400px 1fr 1fr 1fr;
    text-align: center;
    font-size: 1.2em;
    padding-top: 20px;
}
nav a{
    color: #e4e2dd;
    position: relative;
    font-size: 0.8em;
    min-width: 80px;
    text-decoration: none;
    transition: .5s;
}   
    
nav a:hover {
    color: #e4e2dd;
    border-bottom: 2px solid #0ef;
    border-radius: 15px;
    transform: scale(1) translateY(-5px);
    transition: .5s;
}
.tag{
    width: 100%;
    text-decoration: none;
    padding-top: 25px;
} 
.logo{
    width: 100px;
    padding: 10px;
}
.cover_img{
    width: 100%;
    margin-top: -150px;
}
body{
    max-width: 1600px;
    margin: auto;
    text-align: center;
}
i{
    color: #e4e2dd;
    font-size: 35px;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
}
footer{
    height: 100px;
    color: #e4e2dd;
    background-color: #292929;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer p{
    font-size: 1em;
}
footer a{
    color: #e4e2dd;
    text-decoration: none;
}
footer a:hover{
    color: #0ef;
    text-decoration: none;
}